.fluid-panel {
  @apply border border-neutral-300 rounded p-4 mb-4 shadow-sm;

  overflow: hidden;

  &__header {
    @apply p-4;
    display: flex;
    align-items: center;
  }

  &__body {
    @apply p-4;
    @apply bg-neutral-200;
  }

  &__header + &__body {
    @apply border-t border-neutral-300;
  }

  &--dark {
    @apply bg-neutral-900 text-neutral-400;
  }
}
