.fluid-input {
  @apply border border-neutral-300 rounded-sm inline-block py-1 px-2 shadow-sm;
  font-size: 16px;
  color: theme('colors.neutral.700');
  font-family: 'Open Sans';

  &--full-width {
    width: 100%;
    display: block;
  }

  &--icon {
    @apply pl-8;
    background: none;
    position: relative;
    z-index: 0;
  }

  &:disabled {
    color: theme('colors.neutral.600');
  }

  &__wrapper {
    @apply bg-neutral-100;
    align-items: center;
    display: inline-flex;
    position: relative;
    z-index: 0;
  }

  &__icon {
    @apply w-auto;
    @apply h-4;
    left: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
  }

  &--error {
    @apply border-red-400;
  }
}
