.fluid-input {
  @apply border border-neutral-300;
  @apply rounded-sm inline-block py-1 px-2 shadow-sm;
  @apply text-neutral-700 font-inter;
  font-size: 16px;

  &--full-width {
    width: 100%;
    display: block;
  }

  &--icon {
    @apply pl-8;
    background: none;
    position: relative;
    z-index: 0;
  }

  &:disabled {
    @apply text-neutral-600;
  }

  &__wrapper {
    @apply bg-white;
    align-items: center;
    display: inline-flex;
    position: relative;
    z-index: 0;
  }

  &__icon {
    @apply w-auto;
    @apply h-4;
    left: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
  }

  &--error {
    @apply border-error-main;
  }
}
