.fluid-input {
  @apply border border-transparent outline-none bg-neutral-100;
  @apply text-text-primary font-inter text-sm leading-sm;
  @apply rounded-lg py-1.5 px-2;
  border-width: 1px;
  font-size: 16px;

  &:focus {
    @apply border-primary-dark bg-neutral-00;
  }

  &:disabled {
    @apply bg-neutral-300 border-transparent text-text-disabled;
  }

  &--full-width {
    width: 100%;
    display: block;
  }

  &--icon {
    @apply pl-8;
    position: relative;
    z-index: 0;
  }

  &__wrapper {
    @apply bg-white;
    align-items: center;
    display: inline-flex;
    position: relative;
    z-index: 0;
  }

  &__icon {
    @apply w-auto;
    @apply h-4;
    left: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
  }

  &--error {
    @apply border-error-main;
  }
}
