<label>
  <input type="checkbox" id="is-active" checked={{is-active "test.is-active"}} />
  test/is-active
</label>
<label>
  <input type="checkbox" id="is-active_named" checked={{is-active "test.is-active.named"}} />
  test/is-active/named
</label>
<label>
  <input type="checkbox" id="is-active_model" checked={{is-active "test.is-active.model" 2}} />
  test/is-active/model/2
</label>