.fluid-select {
  @apply text-neutral-700;
  display: inline-flex;
  position: relative;

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: theme('colors.neutral.200');
    -webkit-box-shadow: 0 0 1px theme('colors.neutral.300');
  }

  &__wrapper {
    /* elevation/8 */
    box-shadow: 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 5px 5px -3px rgba(0, 0, 0, 0.20);
    min-width: 240px;

    &.ember-basic-dropdown-content--above {
      margin-top: -8px;
    }

    &.ember-basic-dropdown-content--dark {
      box-shadow: 0 8px 16px 0 theme('colors.neutral.700');
      @apply bg-neutral-800;
    }
  }

  &__trigger.size\:sm {
    @apply text-base leading-sm py-1.5 px-2;
  }

  &__trigger-label {
    flex-grow: 1;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
  }

  &__list,
  &__group {
    display: flex;
    flex-direction: column;
  }

  &__list {
    font-size: 14px;
    list-style: none;
    max-height: 350px;
    min-width: 200px;
    overflow-y: auto;

    .fluid-checkbox {
      flex-shrink: 0;
    }
  }

  &__group {
    flex-shrink: 0;
  }

  &__option,
  &__list-item {
    @apply pl-4;
    @apply pr-6;
    align-items: center;
    cursor: pointer;
    display: flex;
    flex: 1 0 32px;
    font-weight: normal;
    line-height: 32px;
  }

  &__option {
    outline: none;

    &:hover,
    &--highlighted {
      @apply bg-action-hover;
    }

    &:active {
      @apply bg-action-selected;
    }

    &-label {
      cursor: pointer;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &--dark.fluid-select__list-item {
      @apply text-neutral-400;

      &:hover {
        @apply bg-neutral-900;
        @apply text-neutral-400;
      }

      &:active {
        @apply bg-neutral-700;
        @apply text-neutral-100;
      }
    }
  }

  &__list-item {
    cursor: pointer;
    @apply text-text-primary;

    &--selected {
      @apply bg-primary-selected;
    }

    &--selected-dark {
      @apply text-neutral-100;
      @apply bg-neutral-700;
      font-weight: 600;
    }

    &--placeholder,
    &--loading {
      @apply text-neutral-500;
      cursor: auto;
      font-style: italic;
      font-weight: normal;

      &:hover,
      &:active,
      & {
        @apply bg-action-hover;
      }
    }
  }

  &__group-header {
    font-size: 11px;
    font-weight: 600;
    line-height: 32px;
    text-transform: uppercase;
  }

  &__separator {
    border-style: none;
    border-top: 1px solid theme('colors.neutral.400');
  }
}

// Handle a `fluid-select` in a button group
.fluid-button-group > .fluid-select:last-child .fluid-button {
  @apply rounded-l-none;
  @apply border-l-0;
}
