.fluid-checkbox {
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;

  &:focus {
    outline: none;
  }

  &:not(&--disabled) {
    cursor: pointer;

    &:focus .fluid-checkbox__box,
    &:hover .fluid-checkbox__box {
      border-color: theme('colors.text.secondary');
    }

    .fluid-checkbox__label {
      cursor: pointer;
    }
  }

  &__box {
    border-color: theme('colors.text.secondary');
    border-style: solid;
    border-radius: 2px;
    flex-shrink: 0;
    height: 1.25em;
    width: 1.25em;
    display: inline-flex;

    &:not(:only-child) {
      margin-right: 0.6em;
    }
  }

  &:focus {
    border-color: theme('colors.primary.main');
  }

  &--disabled {
    cursor: not-allowed;
    border-color: theme('colors.text.disabled');

    label {
      cursor: not-allowed;
      color: theme('colors.text.disabled');
    }
  }

  &--disabled &__box {
    cursor: not-allowed;
    border-color: theme('colors.text.disabled');
  }

  &--disabled#{&}--checked &__box {
    @apply bg-text-disabled;
  }

  &--checked:not(&--disabled) &__box {
    @apply bg-primary-main;
    border-color: theme('colors.primary.main');
  }

  &--checked:focus:not(&--disabled) &__box,
  &--checked:hover:not(&--disabled) &__box {
    border-color: theme('colors.primary.main');
  }

  &:active:not(&--disabled) &__box {
    @apply bg-primary-main;
    border-color: theme('colors.primary.main');
  }

  &__inner-box {
    position: relative;
  }

  &__check {
    @apply stroke-neutral-100 fill-neutral-100;
    height: 150%;
    left: -25%;
    position: absolute;
    top: -25%;
    width: 150%;
  }

  &__label {
    display: inline-block;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
