@tailwind components;

@import './semantic-styles';

@import './components/classy-select';
@import './components/copy-button';
@import './components/fluid-checkbox';
@import './components/fluid-modal';
@import './components/fluid-select';
@import './components/fluid-radio-button';
@import './components/input-field';
@import './components/on-off-switch';
@import './components/pop-over';
@import './components/radio-block';
@import './components/select-menu';
@import './components/validation-error';
@import './components/token-field';
@import './components/fluid-tooltip';

@import './functional-components/fluid-panel';
@import './functional-components/fluid-banner';
@import './functional-components/fluid-input';
@import './functional-components/fluid-table';
@import './functional-components/fluid-badge';

@import './popups';

@import '../ember-basic-dropdown';
@import '../ember-modal-dialog/ember-modal-structure';
@import '../ember-modal-dialog/ember-modal-appearance';

@import './components/fluid-lab/expanding-list';

.fluid-drawer-width {
  max-width: 250px;
  min-width: 150px;
  width: 20%;
}
