@keyframes fluid-spin {
  0% {
    opacity: 1;
  }
  12.5% {
    opacity: 0.8;
  }
  25% {
    opacity: 0.6;
  }
  37.5% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.3;
  }
  62.5% {
    opacity: 0.2;
  }
  75% {
    opacity: 0.2;
  }
  87.5% {
    opacity: 0.2;
  }
  95% {
    opacity: 0.6;
  }
}

.fluid .spinner {
  path {
    fill: theme('colors.neutral.900');
  }

  path:nth-child(1) {
    animation: 800ms (0ms) infinite fluid-spin;
  }

  path:nth-child(2) {
    animation: 800ms (100ms) infinite fluid-spin;
  }

  path:nth-child(3) {
    animation: 800ms (200ms) infinite fluid-spin;
  }

  path:nth-child(4) {
    animation: 800ms (300ms) infinite fluid-spin;
  }

  path:nth-child(5) {
    animation: 800ms (400ms) infinite fluid-spin;
  }

  path:nth-child(6) {
    animation: 800ms (500ms) infinite fluid-spin;
  }

  path:nth-child(7) {
    animation: 800ms (600ms) infinite fluid-spin;
  }

  path:nth-child(8) {
    animation: 800ms (700ms) infinite fluid-spin;
  }
}
